<template>
<div class="page" data-name="exit-pol">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="title">Exit Poll</div>
    </div>
  </div>
  <div class="page-content">
    <div class="block-title">Pilih Pasangan</div>
    <div class="block block-strong">
      <div class="row">
        
        <div class="col col-50">
            <a href="#" id="cardPaslon1" class="link" @click="hitPaslon1">
            <div class="card">
              <!-- <div class="card-header">Card header</div> -->
              <div class="card-content card-content-padding">
                <!-- <div class="row"> -->
                  <!-- <div class="col"> -->
                    <img src="assets/images/paslon1.png" class="img-responsive"></img>
                  <!-- </div> -->
                <!-- </div> -->
              </div>
            </div>
          </a>
        </div>
        <div class="col col-50" >
          <a href="#" id="cardPaslon2" class="link" @click="hitPaslon2">
            <div class="card">
              <!-- <div class="card-header">Card header</div> -->
              <div class="card-content card-content-padding">
                <div class="row">
                  <div class="col">
                    <img src="assets/images/paslon2.png" class="img-responsive"></img>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
    <div class="block-title">Detail TPS</div>

<div class="card">
  <!-- <div class="card-header">Card header</div> -->
  <div class="card-content card-content-padding"><div class="row">
      <div class="col-40">No. TPS</div>
      <div class="col-5">:</div>
      <div class="col-55" id="fieldTPS"></div>
    </div>
    <div class="row">
      <div class="col-40">Kelurahan/Desa</div>
      <div class="col-5">:</div>
      <div class="col-55" id="fieldKelurahan"></div>
    </div>
    <div class="row">
      <div class="col-40">Kecamatan</div>
      <div class="col-5">:</div>
      <div class="col-55" id="fieldKecamatan"></div>
    </div>
    <!-- <div class="row">
      <div class="col-40">RT/RW</div>
      <div class="col-5">:</div>
    </div> -->
  </div>
  <!-- <div class="card-footer">Card Footer</div> -->
</div>

    <div class="list no-hairlines-md">
      
  </div>
</div>
</template>
<script>
  
  return {
    // Component Methods
    data : function(){
        return {
          //userLoged : this.$app.form.getFormData("userLogin")
        }
    },
    methods: {
      hitPaslon1: function () {
        var self = this;
        var app = self.$app;
        var serverHost = app.form.getFormData("serverHost");

        var dataUserLocal = app.form.getFormData("userLogin")
        //app.dialog.alert('user Id = '+dataUserLocal.userId +"user name : "+dataUserLocal.userName);
        app.preloader.show();

        app.request({
            headers: {
              'Content-Type':'application/json'

            },
            url: serverHost+"api/v1/digipol/vote/vote",
            dataType: 'json',
            contentType: "application/json",
            method: 'POST',
            data: {
                    "epKec" : "DOMPU",
                    "epKelDesa" : "BALI",
                    "epTpsNo" : 4,
                    "nomorPaslonVote" : 1
                  },
            statusCode: {
                404: function (xhr) {
                    console.log("URL not found");
                    app.dialog.alert("URL not found");
                    // Hide Preloader
                    app.preloader.hide();
                },
                400: function (xhr) {
                    app.dialog.alert("Bad request. Some of the inputs provided to the request aren't valid.");
                    console.log("Bad request. Some of the inputs provided to the request aren't valid.");
                    // Hide Preloader
                    app.preloader.hide();
                },
                401: function (xhr) {
                    app.dialog.alert("Tidak Dapat Masuk. Usernama/Password anda tidak valid.!!!");
                    console.log("Not authenticated. The user session isn't valid.");
                    // Hide Preloader
                    app.preloader.hide();
                },
                403: function (xhr) {
                    app.dialog.alert("The user isn't authorized to perform the specified request.");
                    console.log("The user isn't authorized to perform the specified request.");
                    // Hide Preloader
                    app.preloader.hide();
                },
                500: function (xhr) {
                    app.dialog.alert("Internal server error. Additional details will be contained on the server logs.");
                    console.log("Internal server error. Additional details will be contained on the server logs.");
                    // Hide Preloader
                    app.preloader.hide();
                },
                201: function (xhr) {
                    app.dialog.alert("The requested resource has been created.");
                    console.log("The requested resource has been created.");
                    // Hide Preloader
                    app.preloader.hide();
                }
            },
            success: function (data, status, xhr) {
                if(data.statusOk){
                  app.dialog.alert('Anda Berhasil Kirim Paslon No. 1', 'Paslon 1 Dipilih');
                  // Hide Preloader
                }else{
                  app.dialog.alert(data.message, 'ERROR');
                  // Hide Preloader
                }
                app.preloader.hide();
            },
            error: function (xhr, status) {
                console.log(JSON.stringify(xhr));
                // Hide Preloader
                app.preloader.hide();
            }
        });

        app.preloader.hide();
      },
      hitPaslon2: function () {
        var self = this;
        var app = self.$app;
        var serverHost = app.form.getFormData("serverHost");

        var dataUserLocal = app.form.getFormData("userLogin")
        //app.dialog.alert('user Id = '+dataUserLocal.userId +"user name : "+dataUserLocal.userName);
        app.preloader.show();

        app.request({
            headers: {
              'Content-Type':'application/json'

            },
            url: serverHost+"/api/v1/digipol/vote/vote",
            dataType: 'json',
            contentType: "application/json",
            method: 'POST',
            data: {
                    "epKec" : "DOMPU",
                    "epKelDesa" : "BALI",
                    "epTpsNo" : 4,
                    "nomorPaslonVote" : 2
                  },
            statusCode: {
                404: function (xhr) {
                    console.log("URL not found");
                    app.dialog.alert("URL not found"), "ERROR";
                    // Hide Preloader
                    app.preloader.hide();
                },
                400: function (xhr) {
                    app.dialog.alert("Bad request. Some of the inputs provided to the request aren't valid.", "ERROR");
                    console.log("Bad request. Some of the inputs provided to the request aren't valid.");
                    // Hide Preloader
                    app.preloader.hide();
                },
                401: function (xhr) {
                    app.dialog.alert("Tidak Dapat Masuk. Usernama/Password anda tidak valid.!!!", "ERROR");
                    console.log("Not authenticated. The user session isn't valid.");
                    // Hide Preloader
                    app.preloader.hide();
                },
                403: function (xhr) {
                    app.dialog.alert("The user isn't authorized to perform the specified request.", "ERROR");
                    console.log("The user isn't authorized to perform the specified request.");
                    // Hide Preloader
                    app.preloader.hide();
                },
                500: function (xhr) {
                    app.dialog.alert("Internal server error. Additional details will be contained on the server logs.", "ERROR");
                    console.log("Internal server error. Additional details will be contained on the server logs.");
                    // Hide Preloader
                    app.preloader.hide();
                },
                201: function (xhr) {
                    app.dialog.alert("The requested resource has been created.", "ERROR");
                    console.log("The requested resource has been created.");
                    // Hide Preloader
                    app.preloader.hide();
                }
            },
            success: function (data, status, xhr) {
                if(data.statusOk){
                  app.dialog.alert('Anda Berhasil Kirim Paslon No. 2', 'Paslon 2 Dipilih');
                  // Hide Preloader
                }else{
                  app.dialog.alert(data.message, 'ERROR');
                  // Hide Preloader
                }
                app.preloader.hide();
            },
            error: function (xhr, status) {
                console.log(JSON.stringify(xhr));
                app.dialog.alert('ERROR KIRIM DATA', 'ERROR!');
                // Hide Preloader
                app.preloader.hide();
            }
        });

        app.preloader.hide();
      },
    }
  }

</script>
