<template>
<div class="page" data-name="rekapitulasi">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="title">ENTRY REKAPITULASI C1</div>
    </div>
  </div>
  <div class="page-content">
    <div class="block-title">REKAPITULASI C1</div>
    <!-- Card detail TPS -->
    <div class="card">
      <div class="card-header">Detail TPS</div>
      <div class="card-content card-content-padding">
        <div class="row">
          <div class="col-40">No. TPS</div>
          <div class="col-5">:</div>
          <div class="col-55" id="fieldTPS"><span id="nomorTps">0</span></div>
        </div>
        <div class="row">
          <div class="col-40">Kecamatan</div>
          <div class="col-5">:</div>
          <div class="col-55" id="fieldKecamatan"><span id="kecamatan">0</span></div>
        </div>
        <div class="row">
          <div class="col-40">Kelurahan/Desa</div>
          <div class="col-5">:</div>
          <div class="col-55" id="fieldKelurahan"><span id="kelurahan">0</span></div>
        </div>
        <div class="row">
          <div class="col-40">Penanggung Jawab</div>
          <div class="col-5">:</div>
          <div class="col-55" id="fieldRtRw"><span id="pj">0</span></div>
        </div>
      </div>
    </div>
    <!-- <div class="card-footer">Card Footer</div> -->


    <!-- Card PEROLEHAN SUARA TPS -->
    <div class="card">
      <div class="card-header">Perolehan Suara</div>
      <div class="card-content card-content-padding">
        <div class="row">
          <div class="col-35"><img src="assets/images/paslon1.png" class="img-responsive"></img></div>
          <div class="col-35"><img src="assets/images/paslon2.png" class="img-responsive"></img></div>
          <div class="col-35"><img src="assets/images/paslon3.png" class="img-responsive"></img></div>
        </div>
        
        <div class="row">
          <div class="col-35 list no-hairlines-md">
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Suara ERI-HI</div>
                <div class="item-input-wrap">
                  <input type="text" placeholder="Suara ERI-HI" value="0" id="suaraPaslon1"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-35 list no-hairlines-md">
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Suara AKJ-SYAH</div>
                <div class="item-input-wrap">
                  <input type="text" placeholder="Suara AKJ-SYAH" value="0"  id="suaraPaslon2"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-35 list no-hairlines-md">
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Suara SUKA</div>
                <div class="item-input-wrap">
                  <input type="text" placeholder="Suara SUKA" value="0" id="suaraPaslon3" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <!-- <div class="row">
          <div class="col"> &nbsp;</div>
        </div>
        <div class="row">
          <div class="col"> &nbsp;</div>
        </div> -->
        <div class="row">
          <div class="col list no-hairlines-md">
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Jml Suara Sah</div>
                <div class="item-input-wrap">
                  <input type="text" placeholder="Suara Sah" value="0" />
                </div>
              </div>
            </div>
          </div>
          <div class="col list no-hairlines-md">
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Jml Suara Tidak Sah</div>
                <div class="item-input-wrap">
                  <input type="text" placeholder="Tidak Sah" value="0"  id="suaraTidakSah"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col list no-hairlines-md">
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Total Suara</div>
                <div class="item-input-wrap">
                  <input type="text" placeholder="Total Suara" value="0" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- <div class="card-footer">Card Footer</div> -->

    <!-- Card detail TPS -->
    <div class="card">
      <div class="card-header">Foto Rekap Form C1</div>
      <div class="card-content card-content-padding">
        <div class="item-content item-input">
              <div class="item-inner">
                    <div class="row">
                      <div class="col">
                          <button id = "cameraTakePicture" class="col button button-small button-round button-outline">Ambil Gambar</button>
                        </div>
                    </div>
                    <div class="row">
                          <img id = "myImage" class="img-responsive"></img>
                    </div>
                </div>
            </div>
      </div>
    </div>
    <!-- <div class="card-footer">Card Footer</div> -->
    <div class="block-title">Perikasa Kembali Data Yang Anda Masukan!</div>
    <div class="block block-strong">
      <p class="row">
        <a href="#" id="btn-kirimdata" class="col button button-round button-fill" @click="kirimData">Kirim Data</a>
      </p>
    </div>
    
  </div>
</div>
</template>
<script>
  return {
        // Page Events
        on: {
          pageInit: function(e, page) {
            //console.log('pageInit', page);
            var self = this;
            var app = self.$app;
            function takePic() { 
                 navigator.camera.getPicture(onSuccess, onFail, {  
                    quality: 50, 
                    destinationType: Camera.DestinationType.DATA_URL 
                 });  
                 
                 function onSuccess(imageData) { 
                    var image = document.getElementById('myImage'); 
                    image.src = "data:image/jpeg;base64," + imageData; 
                 }  
                 
                 function onFail(message) { 
                    alert('Failed because: ' + message); 
                 } 
              }
            document.getElementById("cameraTakePicture").addEventListener("click", takePic); 

            var userLoged = this.$app.form.getFormData("userLogin");

             $$('#nomorTps').html(userLoged.tps.tpsNomor);
             $$('#kecamatan').html(userLoged.tps.tpsKecamatan);
             $$('#kelurahan').html(userLoged.tps.tpsKelurahanDesa);
             $$('#pj').html(userLoged.userNama);
          },
        
        },
    methods: {
      kirimData: function () {
        var self = this;
        var app = self.$app;
        var serverHost = app.form.getFormData("serverHost");

        var dataUserLocal = app.form.getFormData("userLogin");
        //app.dialog.alert('user Id = '+dataUserLocal.userId +"user name : "+dataUserLocal.userName);
        app.preloader.show();

        var suaraPaslon1=$$('#suaraPaslon1').val();
        var suaraPaslon2=$$('#suaraPaslon1').val();
        var suaraPaslon3=$$('#suaraPaslon1').val();
        var suaraTidakSah=$$('#suaraTidakSah').val();
        var image = document.getElementById('myImage').src;

        app.request({
            headers: {
              'Content-Type':'application/json',
              'Authorization' :'bearer '+dataUserLocal.userToken

            },
            url: serverHost+"api/v1/digipol/vote/rekapitulasi",
            dataType: 'json',
            contentType: "application/json",
            method: 'POST',
            data: {
                    "rekapSuaraPaslon1" : suaraPaslon1,
                    "rekapSuaraPaslon2" : suaraPaslon2,
                    "rekapSuaraPaslon3" : suaraPaslon3,
                    "rekapSuaraTidakSah" : suaraTidakSah,
                    "rekapTpsId": dataUserLocal.userTpsId,
                    "rekapImage": image
                  },
            statusCode: {
                404: function (xhr) {
                    console.log("URL not found");
                    app.dialog.alert("URL not found", 'ERROR');
                    // Hide Preloader
                    app.preloader.hide();
                },
                400: function (xhr) {
                    app.dialog.alert("Bad request. Some of the inputs provided to the request aren't valid.", 'ERROR');
                    console.log("Bad request. Some of the inputs provided to the request aren't valid.");
                    // Hide Preloader
                    app.preloader.hide();
                },
                401: function (xhr) {
                    app.dialog.alert("Tidak Dapat Masuk. Usernama/Password anda tidak valid.!!!", 'ERROR');
                    console.log("Not authenticated. The user session isn't valid.");
                    // Hide Preloader
                    app.preloader.hide();
                },
                403: function (xhr) {
                    app.dialog.alert("The user isn't authorized to perform the specified request.", 'ERROR');
                    console.log("The user isn't authorized to perform the specified request.");
                    // Hide Preloader
                    app.preloader.hide();

                    app.loginScreen.open('#my-login-screen');
                },
                500: function (xhr) {
                    app.dialog.alert("Internal server error. Additional details will be contained on the server logs.", 'ERROR');
                    console.log("Internal server error. Additional details will be contained on the server logs.");
                    // Hide Preloader
                    app.preloader.hide();
                },
                201: function (xhr) {
                    app.dialog.alert("The requested resource has been created.");
                    console.log("The requested resource has been created.");
                    // Hide Preloader
                    app.preloader.hide();
                }
            },
            success: function (data, status, xhr) {
                //store internal storage
                if(data.statusOk){
                  app.dialog.alert('Anda Berhasil Kirim Rekapitulasi', 'SUKSES');
                  $$('#btn-kirimdata').attr("disabled");
                }else{
                  app.dialog.alert(data.message, 'ERROR');
                  // Hide Preloader
                }
                app.preloader.hide();
            },
            error: function (xhr, status) {
                // Hide Preloader
                app.preloader.hide();
                app.dialog.alert(status,'ERROR');
            }
        });

        app.preloader.hide();
      },
    },
  }
</script>
